*{
    margin: 0;
    padding: 0;
}
#background {
    height: 100vh;
    background:black ;
}
#calculator {
    position: absolute;
    background: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
}
#resultado {
    background: black;
    color: white;
    text-align: right;
    width: 255px;
    height: 75px;
    font-size: 60px;
    font-family: arial;
    
}
.botoes {
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin: 3px;
    border-radius: 50%;
    background: rgb(36, 35, 35);
    border: none;
}
.botoes:hover {
    background: rgb(107, 106, 106);
}
#botao0 {
    width: 126px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: 3px;
    border-radius: 50px;
    background: rgb(36, 35, 35);
    position: relative;
    border: none;
   }
   #botao0:hover {
    background: rgb(107, 106, 106);
   }
   #zero {
    position: absolute;
    right: 70%;
    bottom: 22%;
   }
.botoes-laranja {
    width: 60px;
    height: 60px;
    font-size: 25px;
    cursor: pointer;
    color: white;
    margin: 3px;
    border-radius: 50%;
    background: rgb(226, 126, 12);
    border: none;
}
.botoes-laranja:hover {
    background: white;
    color: rgb(226, 126, 12);
}
.botoes-cinza {
    background:rgb(173, 172, 172) ;
    color: black;
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    margin: 3px;
    border-radius: 50%;
    border: none;
}
.botoes-cinza:hover {
    background: rgb(240, 239, 239);
}
h1 {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 20px;
    text-shadow:2px 1px rgb(226, 126, 12);
}
@media screen and (max-width:600px) {
    .botoes {
        width: 70px;
        height: 70px;
        border: none;
    }
    .botoes-laranja {
        width: 70px;
        height: 70px;
        border: none;
    }
    .botoes-cinza {
        width: 70px;
        height: 70px;
        border: none;
    }
    #botao0 {
        width: 146px;
        height: 70px;
        font-size: 25px;
        cursor: pointer;
        color: white;
        margin: 3px;
        border-radius: 50px;
        background: rgb(36, 35, 35);
        position: relative;
        border: none;
       }
       #resultado {
        width: 289px;
        height: 74px;
       }
       #calculator {
        padding: 0;
       }
}
